.body {
  background-color: tan;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height as needed */
}

.body input[type="text"] {
  width: 400px; 
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}
