.formDiv {
    display: flex;
    justify-content: center;
    padding-right: 3%;
    padding-top: 10%;
}
h2 {
    text-align: center;
}
form {
    background-color: #b6bc34;
    /* text-align: center; */
    /* margin-top: 10%; */
}
label {
    padding-right: 2%;
}







/* .loginForm {
    display: flex;
    justify-content: center;
    align-items: center;
  }
h2 {
    text-align: center;
}

.formbtn {
    justify-content: center;
    align-items: center;
  } */