#searchbar {
    display: block;
    text-align: center;
    margin-top: 50px;
}

.container {
    display: flex;
    margin-top: 2rem;
}

.container > * {
    width: 50%;
}

.favorites {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}
.saved-recipe {
    width: 47.5%;
    background-color: #c3ac9b;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border: #ae9a8b solid 1px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #9a897c;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile p {
    margin: 1rem 0 .5rem 0;
}

.profile-icons button {
    color: white;
    background-color: rgba(0, 0, 0, .5);
    padding: 5px;
    margin: 5px;
    border: black solid 1px;
    border-radius: 5px;
}

.profile-icons button:hover {
    background-color: #ae9a8b;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
