#searchbar {
    display: block;
    text-align: center;
    margin-top: 50px;
}

.profile-content {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.saved-recipes {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.savedRecipe {
    background-color: rgba(0, 0, 0, 0.5);
    width: 200px;
    height: 150px;
    border: solid;
}

.profilecontainer {
    width: 30%;
    text-align: center;

}