body {
    background-color: #dcc1ae;
    color: black;
}

.search-list {
    display: flex;
    flex-wrap: wrap;
}

.search-card {
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    border-radius: 10px;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.search-title {
    color: #fff;
    margin-top: auto; 
    font-size: 1.5rem;
    background: rgba(0, 0, 0, 0.5); 
}

.search-content {
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.5); 
    padding: 10px;
}
