#header {
    background-color: #dcc1ae;
    font-family: "cursive";
    border-bottom: solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
}

#headerImage {
    height: 73px;
    border-radius: 50%;
    transition: all .5s ease-out;
}

#headerImage:hover {
    transform: rotate(180deg) translateX(-50px);
}

#logout-btn, #login-btn, #signup-btn, #profile-btn {
    padding-right: 2rem;
    color:black;
    font-size: larger;
    transition: all .3s ease-out;
}

#logoutbtn:hover, #profilebtn:hover {
    transform: translateY(-50%);
}
